<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <nav>
      <% if (user) { %>
        <button><a href="/auth/logout">Logout</a></button>
      <% } else { %>
        <button><a href="/auth/login">Login</a></button>
      <% } %>
      <button><a href="/">Homepage</a></button>
      <button><a href="/profile">Profile</a></button>
    </nav>
    <header>
      <p>Login using</p>
    </header>
    <main>
      <button class="google-btn"><a href="/auth/google">Google+</a></button>
    </main>
  </body>
</html>
